{% extends 'base.html.twig' %}


{% block body %}
<!-- <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> -->

<style>

.Caja-de-preguntas {
    width: 50%;
      border: 1px solid black;
      padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left:     10px;
    font-weight: bold;
}

.Caja-de-rtas {
    font-weight: normal;
}

</style>

{% set numero_pregunta = 1 %}

{% for pregunta in preguntas %}

    <div class="Caja-de-preguntas">

        {{ numero_pregunta }}) {{ pregunta.descripcion }}

        <br>
        <br>
        <div class="Caja-de-rtas">
            {% set respuestas = Respuestas_mezcladas[numero_pregunta-1] %}
            {% set Letras = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T", "U","V","W","X","Y","Z"] %}
            {% set Contador_letras = 0 %}

                {% for respuesta in respuestas %}

                    {{ Letras[Contador_letras] }}) {{respuesta}}

                    <br>
                    <br>

                    {% set Contador_letras = Contador_letras+1 %}
                    
                {% endfor %}

                {% if not("ocultar_opcion_todas_las_anteriores" in pregunta|keys) %}

                    {% set Contador_letras = Contador_letras+1 %}
                    {{ Letras[Contador_letras] }}) Todas las anteriores.

                    <br>
                    <br>

                {% endif %}

                {% if not("ocultas_opcion_ninguna_de_las_anteriores" in pregunta|keys) %}

                    {% set Contador_letras = Contador_letras+1 %}
                    {{ Letras[Contador_letras] }}) Ninguna de las anteriores.

                {% endif %}

        </div>

    </div>

    <br>

    {% set numero_pregunta = numero_pregunta+1 %}

{% endfor %}

{% endblock %}