{% extends 'base.html.twig' %}


{% block body %}

<style>

.Caja-de-preguntas {
    border: 1px solid black;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left:   30px;
    font-weight: bold;
}

.Caja-de-rtas {
    font-weight: normal;
}

.left{
    float:left;
    text-align: left;
}

.right{
    float:center;
    text-align: center;
}
</style>

<div>
    <div class="left">
        <b>Nombre y Apellido ____________________________________</b>
    </div>
    
    <div class="right">
        
        <div class="left">
            <b style="padding-left: 250px">Evaluación número 4 - 28/09/2017 - IPS.</b>
        </div>

        <div class="right">
            <b>TEMA 1</b>
        </div>
        
    </div>
    
    
    
    <hr>
</div>

<div id="Cuerpo-Examen">
    {% set numero_pregunta = 1 %}

    {% for pregunta in preguntas %}

        <div class="Caja-de-preguntas">
            
            {{ numero_pregunta }}) {{ pregunta.descripcion }}

            <br>
            <br>
            <div class="Caja-de-rtas">
                
                {% set respuestas = Respuestas_mezcladas[numero_pregunta-1] %}
                {% set Letras = ["A","B","C","D","E","F","G","H","I"] %}
                {% set Contador_letras = 0 %}

                    {% for respuesta in respuestas %}

                        {{ Letras[Contador_letras] }}) {{respuesta}}

                        <br>
                        <br>

                        {% set Contador_letras = Contador_letras+1 %}
                        
                    {% endfor %}

                    {% if not("ocultar_opcion_todas_las_anteriores" in pregunta|keys) %}

                        {% set Contador_letras = Contador_letras+1 %}
                        {{ Letras[Contador_letras] }}) Todas las anteriores.

                        <br>
                        <br>

                    {% endif %}

                    {% if not("ocultas_opcion_ninguna_de_las_anteriores" in pregunta|keys) %}

                        {% set Contador_letras = Contador_letras+1 %}
                        {{ Letras[Contador_letras] }}) Ninguna de las anteriores.

                    {% endif %}

            </div>

        </div>

        <br>
        
        {% set numero_pregunta = numero_pregunta+1 %}

    {% endfor %}

</div>

<a href="/MostrarRtas" target="_blank" id="MostrarRtas" type="button">Mostrar Examen Resuelto</a>

{% endblock %}